body{
    background-color: #333;
}
div{
    color: #808080c9;
    font-size:30px;
    width: fit-content;
    white-space: nowrap;
    border-right: 1px solid #808080c9;
    margin: auto;
    overflow: hidden;
    animation: go 2s steps(16) 0.5s both, blank 0.5s infinite ;
}
@keyframes go{
    from{
        width: 0;
    }
    to{
        width:181px;
    }
}
@keyframes blank{
    0%{
        border-color: #808080c9;
    }
    100%{
        border-color: #333;
    }
}