.links{
    position: relative;
    display: flex;
    justify-content: center;
}
.links .icon{
    
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end ;
}
.links .icon span{
    height: 2px;
    margin-bottom: 5px;
    background-color: black;
width: 100%;
transition: 0.3s;
}

.links:hover .icon span:nth-child(1){
    transform: rotate(45deg) translateY(5px) translateX(5px);
    background-color:red;
}

.links:hover .icon span:nth-child(2){
    opacity: 0;
    transition: 0.3s;
}
.links:hover .icon span:nth-child(3){
        transition: 0.3s;
        transform: rotate(-45deg) translateY(-5px) translateX(5px);
        background-color:red;
    }
